<md-tab-group>
  <md-tab label="อิเล็กทรอนิกส์" class="padding">
    <p class="mg-bottom"><b>Top Sellers</b></p>
    <md-grid-list cols="5">
      <md-grid-tile *ngFor="let ts of topSellers">
        <md-card class="example-card">
          <img md-card-image [src]="ts.img" alt="Photo of a Shiba Inu">
          <md-card-content class="mg-top">
            <p>
              {{ts.name}}
            </p>
            <p class="txt-red">
              {{ts.price | number}} บาท
            </p>
          </md-card-content>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>
  <md-tab label="แฟชั่นสุภาพสตรี">
    <router-outlet></router-outlet>    
  </md-tab>
  <md-tab label="แฟชั่นสุภาพบุรุษ">
    <h1>สินค้า แฟชั่นสุภาพบุรุษ</h1>
</md-tab>
<md-tab label="เครื่องใช้ไฟฟ้าและของในบ้าน">
  <h1>สินค้า เครื่องใช้ไฟฟ้าและของในบ้าน</h1>
</md-tab>
<md-tab label="สุขภาพและความงาม">
  <h1>สินค้า สุขภาพและความงาม</h1>
</md-tab>
<md-tab label="เด็กและของเล่น">
  <h1>สินค้า เด็กและของเล่น</h1>
</md-tab>
<md-tab label="กีฬาและการเดินทาง">
  <h1>สินค้า กีฬาและการเดินทาง</h1>
</md-tab>
<md-tab label="ไฮไลท์">
  <h1>สินค้า ไฮไลท์</h1>
</md-tab>
</md-tab-group>