<p class="mg-bottom tb">{{title}}</p>
<!-- <md-grid-list [cols]="gridCols" (window:resize)="onResize($event)">
  <md-grid-tile *ngFor="let data of dataList" (click)="openProductDetail(data._id)">
    <md-card class="example-card">
      <img md-card-image [src]="data.img" alt="img">
      <md-card-content class="mg-top">
        <p>
          {{data.name}}
        </p>
        <p class="txt-red">
          {{data.price | number}} บาท
        </p>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list> -->
<div fxLayout="row wrap">
  <div class="pd-12" fxFlex="100%" fxFlex.gt-sm="25%" *ngFor="let data of dataList" (click)="openProductDetail(data._id)">
    <md-card class="example-card" >
      <img md-card-image [src]="data.img" alt="img">
      <md-card-content class="mg-top">
        <p>
          {{data.name}}
        </p>
        <p class="txt-red">
          {{data.price | number}} บาท
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>